<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.datatecsolutions.edutools">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MenuActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ajuste"
            android:label="@string/title_activity_ajuste" />
        <activity
            android:name=".clases"
            android:label="@string/title_activity_clases" />
        <activity
            android:name=".activacion"
            android:label="@string/title_activity_activacion" />
        <activity
            android:name=".activity_crear_acumulativo"
            android:label="@string/title_activity_activity_crear_acumulativo"></activity>
    </application>

</manifest>
